.gallery {
  border: 1px solid #ccc;
  position: relative;
  min-height: 200px;


}

.gallery:hover {
  border: 1px solid inherit;
}

.carousel-warp {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: box 25s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(1) {
  left: 0%;
}

.box:nth-child(2) {
  left: 100%;
}

.box:nth-child(3) {
  left: 200%;
}

.box:nth-child(4) {
  left: 300%;
}

@keyframes box {

  0%,
  10% {
    margin-left: 0px;
  }

  15%,
  25% {
    margin-left: -100%;
  }

  30%,
  40% {
    margin-left: -200%;
  }

  45%,
  55% {
    margin-left: -300%;
  }

  60%,
  70% {
    margin-left: -200%;
  }

  75%,
  85% {
    margin-left: -100%;
  }

  90%,
  100% {
    margin-left: 0px;
  }

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  backface-visibility: hidden;
}


.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

div.gallery:hover .image {
  opacity: 0.3;
}

div.gallery:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: #439bffcc;
  font-size: 60px;
  text-align: center;
  font-family: 'Cursive', 'Comic Sans MS', sans-serif;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 0;
  transition: 2s width;

}

.responsive.open {
  width: 24.99999%;
  height: 100%
}

@media only screen and (min-width: 701px) {
  .responsive {
    width: 24.99999%;
    margin: 6px 0;
  }

  .carousel-warp {
    min-height: 250px;
  }
}

@media only screen and (max-width: 1500px) {
  .responsive {
    width: 32.99999%;
    margin: 6px 0;
  }

  .carousel-warp {
    min-height: 250px;


  }
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .carousel-warp {
    min-height: 300px;


  }
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .carousel-warp {
    min-height: 250px;


  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }

  .carousel-warp {
    min-height: 330px;


  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}